@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";

$brand-foreground: #fe9300;
$brand-background: #00c9ff;
$brand-accent-1: #fefc28;
$brand-accent-2: #fe9300;
$brand-accent-3: #d4cdab;

@import "_navbar.scss";
@import "_colours.scss";
@import "_forms.scss";